<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<form th:method="POST" th:action="@{/characters/search}">
    <label for="name">Введите поисковой запрос: </label>
    <input type="text" id="name" name="name"/>
    <br/>
    <input type="submit" value="Искать"/>
</form>

<div th:if="${characters.isEmpty()}">
    <p>Персонажей с таким именем не найдено</p>
</div>
<div th:unless="${characters.isEmpty()}">
    <div th:each="character : ${characters}">
        <br/>
        <br/>
        <a th:href="@{/characters/{id}(id=${character.getId()})}">
            <img th:src="@{/images/{id}(id = ${character.getImages().get(0).getId()})}" height="90px"/>
            <figcaption th:text="${character.getName()}" style="color:fuchsia;font-size:10px;">
                Персонаж ganshin
            </figcaption>
        </a>
    </div>
</div>
<hr/>
<form action="/characters">
    <button>Вернуться на страницу персонажей</button>
</form>

</body>
</html>