<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Show character</title>
</head>
<body>
<div th:if="${character.get().getImages().size()==0}">
   <p>У персонажа пока не установлена картинка</p>
</div>
<div th:unless="${character.get().getImages().size()==0}">
<a th:href="@{/images/{id}(id = ${character.get().getImages().get(0).getId()})}">
    <img th:src="@{/images/{id}(id = ${character.get().getImages().get(0).getId()})}" height="200px"/>
</a>
</div>
<br/>
<br/>
<b>
    <span style="horiz-align: center" th:text="${character.get().getName()}">Имя персонажа</span>
</b>
<br/>
<br/>
<form th:action="@{/characters/edit/{id}(id=${character.get().getId()})}">
    <button>Изменить имя или картинку персонажа</button>
</form>
<div th:if="${properties.isEmpty()}">
    <p>Вы пока не указали характеристики для прокачки данного персонажа</p>
    <hr/>
</div>
<div th:if="${!properties.isEmpty()}">
    <hr/>
    <b>Характеристики для прокачки:</b>
    <br/>
    <table  border="1" width="100">
        <tr>
            <td>
                Статы для прокачки
            </td>
            <td>
                Оптимальное значение
            </td>
            <td>
                Действие
            </td>
        </tr>
        <tr th:each="property : ${properties}"  >
            <td th:text="${property.getName()}">
                    property name
                </td>
            <td th:text="${property.getValue()}">
                    property value
                </td>
            <td>
                <form th:method="DELETE"
                      th:action="@{/property/delete/{idCharacter}/{idProperty}(idCharacter = ${character.get(). getId()},idProperty=${property.getId()})}">
                    <input type="submit" value="Удалить характеристику"/>
                </form>
            </td>
        </tr>
    </table>
    <hr/>
</div>
<form th:method="POST" th:action="@{/characters/{id}(id=${character.get().getId()})}">
    Название характеристики <input type="text" name="name"/><br/><br/>
    Оптимальное значение <input type="text" name="value"/><br/><br/>
    <input type="submit" value="Добавить характеристику"/>
</form>
<br/>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/characters/delete/{id}(id=${character.get().getId()})}">
    <input type="submit" value="Удалить персонажа"/>
</form>
<br/>
<hr/>
<form action="/characters">
    <button>Вернуться на страницу персонажей</button>
</form>
</body>
</html>